# Extracting Data

In [1]:
import os
import pandas as pd
import json

In [2]:
path_to_json ='../data/Original' 
json_files = []

for root, dirs, files in os.walk(path_to_json):
    for f in files:
        if f.endswith('.json'):      #Check for .json exten
            json_files.append(os.path.join(root, f))    #append full path to file
len(json_files)

222866

In [3]:
##key_to_extract = {'spotName', 'CurrentCurve',"VoltageCurve"}
#data_list=[]
##ciclo che carica il file json specificato dal path
#for file in json_files:
#    json_data=open(file)
#    data=json.load(json_data)
#    #creo ora dizionario con i soli campi di interesse
#    extracted_dict={"spotName": data["Message"]["WeldLog"]["spotName"], "VoltageCurve": data["Message"]["WeldLog"]["VoltageCurve"],
#                    "CurrentCurve": data["Message"]["WeldLog"]["CurrentCurve"],"TimeStamp": data["TimeStamp"]}
#    data_list.append(list(extracted_dict.values()))

In [13]:
#key_to_extract = {'spotName', 'CurrentCurve',"VoltageCurve"}
data_list=[]
#ciclo che carica il file json specificato dal path
for i,file in enumerate(json_files):
    json_data=open(file)
    data=json.load(json_data)
    #creo ora dizionario con i soli campi di interesse
    data_list.append([data["Message"]["WeldLog"]["spotName"],data["Message"]["WeldLog"]["VoltageCurve"],
                    data["Message"]["WeldLog"]["CurrentCurve"], data["TimeStamp"]])

In [15]:
#dopo aver verificato l'ordine delle feature aggiusto columns se necessario
df = pd.DataFrame (data_list, columns = ['spotName',"VoltageCurve",'CurrentCurve',"TimeStamp"])
df

,spotName,VoltageCurve,CurrentCurve,TimeStamp
0,60090_0_00,None,None,2019-11-07T12:29:01
1,60092_0_00,None,None,2019-11-07T12:29:01
2,60094_0_00,None,None,2019-11-07T12:29:01
3,60096_0_00,None,None,2019-11-07T12:29:01
4,60118_0_00,None,None,2019-11-07T12:29:01
...,...,...,...,...
222861,60021_0_00,"[138, 777, 1332, 1675, 1888, 2008, 2100, 2193,...","[317, 2095, 3809, 4984, 5714, 6222, 6698, 7110...",2020-05-28T15:00:04
222862,60023_0_00,"[139, 769, 1303, 1652, 1853, 1976, 2107, 2142,...","[317, 2065, 3781, 4926, 5688, 6229, 6801, 7118...",2020-05-28T15:00:17
222863,60025_0_00,"[134, 763, 1284, 1602, 1779, 1863, 1946, 1972,...","[344, 2225, 4011, 5234, 6017, 6613, 7051, 7365...",2020-05-28T15:00:17
222864,60027_0_00,"[136, 744, 1264, 1600, 1784, 1904, 1944, 1960,...","[303, 2034, 3644, 4767, 5526, 6103, 6437, 6680...",2020-05-28T15:00:17
222865,,"[125, 906, 1533, 1798, 1857, 1879, 1828, 1644,...","[339, 2926, 5598, 7380, 8567, 9585, 10349, 105...",2020-05-28T15:00:44

In [6]:
#converto TimeStamp in formato datetime
df["TimeStamp"]=pd.to_datetime(df["TimeStamp"], format='%Y-%m-%dT%H:%M:%S')
df

,VoltageCurve,CurrentCurve,spotName,TimeStamp
0,None,None,60090_0_00,2019-11-07 12:29:01
1,None,None,60092_0_00,2019-11-07 12:29:01
2,None,None,60094_0_00,2019-11-07 12:29:01
3,None,None,60096_0_00,2019-11-07 12:29:01
4,None,None,60118_0_00,2019-11-07 12:29:01
...,...,...,...,...
222861,"[138, 777, 1332, 1675, 1888, 2008, 2100, 2193,...","[317, 2095, 3809, 4984, 5714, 6222, 6698, 7110...",60021_0_00,2020-05-28 15:00:04
222862,"[139, 769, 1303, 1652, 1853, 1976, 2107, 2142,...","[317, 2065, 3781, 4926, 5688, 6229, 6801, 7118...",60023_0_00,2020-05-28 15:00:17
222863,"[134, 763, 1284, 1602, 1779, 1863, 1946, 1972,...","[344, 2225, 4011, 5234, 6017, 6613, 7051, 7365...",60025_0_00,2020-05-28 15:00:17
222864,"[136, 744, 1264, 1600, 1784, 1904, 1944, 1960,...","[303, 2034, 3644, 4767, 5526, 6103, 6437, 6680...",60027_0_00,2020-05-28 15:00:17
222865,"[125, 906, 1533, 1798, 1857, 1879, 1828, 1644,...","[339, 2926, 5598, 7380, 8567, 9585, 10349, 105...",,2020-05-28 15:00:44

In [7]:
#salvo df in formato pickle
df.to_pickle("../data/full_rows_df.pkl")