In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df= pd.read_pickle("../data/clean_rows_df.pkl")  
df.head()

,VoltageCurve,CurrentCurve,spotName
TimeStamp,,,
2019-11-07 12:29:06,"[132, 744, 1299, 1663, 1894, 2002, 2068, 2110,...","[311, 1990, 3577, 4759, 5599, 6190, 6594, 6999...",60000_0_00
2019-11-07 12:29:26,"[136, 752, 1308, 1675, 1923, 2068, 2128, 2180,...","[301, 1961, 3470, 4527, 5432, 6066, 6489, 6911...",60000_0_00
2019-11-07 12:29:26,"[139, 757, 1292, 1655, 1885, 2042, 2099, 2099,...","[333, 2058, 3663, 4814, 5661, 6388, 6842, 7084...",60000_0_00
2019-11-07 12:29:30,"[133, 743, 1286, 1645, 1887, 2046, 2104, 2104,...","[307, 2031, 3632, 4802, 5695, 6434, 6865, 7142...",60000_0_00
2019-11-07 12:29:32,"[137, 755, 1313, 1683, 1906, 2043, 2147, 2189,...","[302, 1995, 3508, 4596, 5382, 5987, 6562, 6955...",60000_0_00

In [4]:
Voltage_df=df.drop("CurrentCurve", axis=1)
Current_df=df.drop("VoltageCurve", axis=1)

In [5]:
df.reset_index(inplace=True)
df.set_index(["spotName","TimeStamp"],inplace=True)

In [18]:
exploded_voltage=pd.DataFrame(df.VoltageCurve.tolist(), index= df.index)

In [9]:
#quali dati hanno la massima numerosità (624) di raccolte
#exploded_voltage[exploded_voltage[623].notna()].head()

In [10]:
#per selezionare la prima riga
exploded_voltage.iloc[0]
#oppure
exploded_voltage.loc[("60000_0_00","2019-11-07 12:29:06")]

C:\Users\dvd_m\AppData\Local\Temp/ipykernel_4044/3076481641.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  exploded_voltage.loc[("60000_0_00","2019-11-07 12:29:06")]

,0,1,2,3,4,5,6,7,8,9,...,614,615,616,617,618,619,620,621,622,623
TimeStamp,,,,,,,,,,,,,,,,,,,,,
2019-11-07 12:29:06,132,744.0,1299.0,1663.0,1894.0,2002.0,2068.0,2110.0,2076.0,2035.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Approccio statistico

In [19]:
mean_voltage=exploded_voltage.mean(axis=0)
#exploded_voltage.append(mean_voltage,ignore_index=True)
mean_voltage

0       133.533012
1       754.758250
2      1288.253291
3      1610.341199
4      1794.434930
          ...
619    1510.000000
620    1507.859649
621    1513.321429
622    1512.890909
623    1503.448980
Length: 624, dtype: float64

C:\Users\dvd_m\AppData\Local\Temp/ipykernel_4044/2147050992.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  exploded_voltage.append(mean_voltage,ignore_index=True)

,0,1,2,3,4,5,6,7,8,9,...,614,615,616,617,618,619,620,621,622,623
0,132.000000,744.00000,1299.000000,1663.000000,1894.00000,2002.000000,2068.000000,2110.000000,2076.000000,2035.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,136.000000,752.00000,1308.000000,1675.000000,1923.00000,2068.000000,2128.000000,2180.000000,2180.000000,2103.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,139.000000,757.00000,1292.000000,1655.000000,1885.00000,2042.000000,2099.000000,2099.000000,2099.000000,2067.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,133.000000,743.00000,1286.000000,1645.000000,1887.00000,2046.000000,2104.000000,2104.000000,2129.000000,2079.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,137.000000,755.00000,1313.000000,1683.000000,1906.00000,2043.000000,2147.000000,2189.000000,2155.000000,2104.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,138.000000,777.00000,1332.000000,1675.000000,1888.00000,2008.000000,2100.000000,2193.000000,2193.000000,2184.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142189,139.000000,769.00000,1303.000000,1652.000000,1853.00000,1976.000000,2107.000000,2142.000000,2133.000000,2133.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142190,134.000000,763.00000,1284.000000,1602.000000,1779.00000,1863.000000,1946.000000,1972.000000,1955.000000,1913.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142191,136.000000,744.00000,1264.000000,1600.000000,1784.00000,1904.000000,1944.000000,1960.000000,1960.000000,1928.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142192,133.533012,754.75825,1288.253291,1610.341199,1794.43493,1892.485533,1927.142316,1918.803721,1881.726945,1829.589775,...,1507.1125,1509.5,1506.315068,1515.333333,1515.571429,1510.0,1507.859649,1513.321429,1512.890909,1503.44898

## Machine Learning

In [44]:
df_train=exploded_voltage.iloc[: , 7:50]
df_train=df_train.iloc[:400]
df_test=exploded_voltage.iloc[: , 200:207]
df_test=df_test.iloc[:400]
df_test

                                   200     201     202     203     204  \
spotName   TimeStamp
60000_0_00 2019-11-07 12:29:06  1282.0  1274.0  1257.0  1266.0  1274.0
           2019-11-07 12:29:26  1632.0  1658.0  1658.0  1632.0  1658.0
           2019-11-07 12:29:26  1647.0  1655.0  1679.0  1647.0  1638.0
           2019-11-07 12:29:30  1628.0  1612.0  1637.0  1628.0  1612.0
           2019-11-07 12:29:32  1683.0  1674.0  1648.0  1666.0  1674.0
...                                ...     ...     ...     ...     ...
60025_0_00 2019-11-12 06:32:09  1571.0  1616.0  1616.0  1589.0  1598.0
60027_0_00 2019-11-12 06:32:09  1604.0  1596.0  1561.0  1544.0  1561.0
60090_0_00 2019-11-12 06:33:17  1587.0  1616.0  1616.0  1587.0  1578.0
60092_0_00 2019-11-12 06:33:19  1664.0  1698.0  1698.0  1664.0  1664.0
60094_0_00 2019-11-12 06:33:22  1663.0  1672.0  1682.0  1663.0  1645.0

                                   205     206
spotName   TimeStamp
60000_0_00 2019-11-07 12:29:06  1249.0  1249.0
           2019-11-07 12:29:26  1675.0  1649.0
           2019-11-07 12:29:26  1655.0  1647.0
           2019-11-07 12:29:30  1645.0  1637.0
           2019-11-07 12:29:32  1657.0  1657.0
...                                ...     ...
60025_0_00 2019-11-12 06:32:09  1598.0  1571.0
60027_0_00 2019-11-12 06:32:09  1552.0  1578.0
60090_0_00 2019-11-12 06:33:17  1587.0  1578.0
60092_0_00 2019-11-12 06:33:19  1664.0  1638.0
60094_0_00 2019-11-12 06:33:22  1672.0  1672.0

[400 rows x 7 columns]

In [21]:
from sklearn.ensemble import IsolationForest

In [45]:
#clf = IsolationForest(n_estimators=10, warm_start=True)
#clf.fit(df_train)  # fit 10 trees  
#clf.set_params(n_estimators=20)  # add 10 more trees  
#clf.fit(df_train)  # fit the added trees

IsolationForest(bootstrap=False, contamination='auto', max_features=1.0,
                max_samples='auto', n_estimators=20, n_jobs=None,
                random_state=None, verbose=0, warm_start=True)

In [52]:
clf = IsolationForest(max_samples=100)
clf.fit(df_train)
pred_train = clf.predict(df_train)

In [53]:
X_outliers = df_train[pred_train == -1]
X_valid = df_train[pred_train != -1]

In [54]:
print("Original Samples : ",df_train.shape[0])
print("Number of Outliers : ", X_outliers.shape[0])
print("Number of Normal Samples : ", X_valid.shape[0])

Original Samples :  400
Number of Outliers :  124
Number of Normal Samples :  276