In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df= pd.read_pickle("../data/clean_rows_df.pkl")  
df.head()

,VoltageCurve,CurrentCurve,spotName
TimeStamp,,,
2019-11-07 12:29:06,"[132, 744, 1299, 1663, 1894, 2002, 2068, 2110,...","[311, 1990, 3577, 4759, 5599, 6190, 6594, 6999...",60000_0_00
2019-11-07 12:29:26,"[136, 752, 1308, 1675, 1923, 2068, 2128, 2180,...","[301, 1961, 3470, 4527, 5432, 6066, 6489, 6911...",60000_0_00
2019-11-07 12:29:26,"[139, 757, 1292, 1655, 1885, 2042, 2099, 2099,...","[333, 2058, 3663, 4814, 5661, 6388, 6842, 7084...",60000_0_00
2019-11-07 12:29:30,"[133, 743, 1286, 1645, 1887, 2046, 2104, 2104,...","[307, 2031, 3632, 4802, 5695, 6434, 6865, 7142...",60000_0_00
2019-11-07 12:29:32,"[137, 755, 1313, 1683, 1906, 2043, 2147, 2189,...","[302, 1995, 3508, 4596, 5382, 5987, 6562, 6955...",60000_0_00

In [4]:
Voltage_df=df.drop("CurrentCurve", axis=1)
Current_df=df.drop("VoltageCurve", axis=1)

In [8]:
Voltage_df.reset_index(inplace=True)

In [10]:
exploded_voltage=Voltage_df.explode("VoltageCurve")

In [21]:
df.head()

,VoltageCurve,CurrentCurve,spotName
TimeStamp,,,
2019-11-07 12:29:06,"[132, 744, 1299, 1663, 1894, 2002, 2068, 2110,...","[311, 1990, 3577, 4759, 5599, 6190, 6594, 6999...",60000_0_00
2019-11-07 12:29:26,"[136, 752, 1308, 1675, 1923, 2068, 2128, 2180,...","[301, 1961, 3470, 4527, 5432, 6066, 6489, 6911...",60000_0_00
2019-11-07 12:29:26,"[139, 757, 1292, 1655, 1885, 2042, 2099, 2099,...","[333, 2058, 3663, 4814, 5661, 6388, 6842, 7084...",60000_0_00
2019-11-07 12:29:30,"[133, 743, 1286, 1645, 1887, 2046, 2104, 2104,...","[307, 2031, 3632, 4802, 5695, 6434, 6865, 7142...",60000_0_00
2019-11-07 12:29:32,"[137, 755, 1313, 1683, 1906, 2043, 2147, 2189,...","[302, 1995, 3508, 4596, 5382, 5987, 6562, 6955...",60000_0_00

In [33]:
df.reset_index(inplace=True)
df.set_index(["spotName","TimeStamp"],inplace=True)

In [35]:
exploded_voltage=pd.DataFrame(df.VoltageCurve.tolist(), index= df.index)

In [51]:
exploded_voltage

                                0      1       2       3       4       5    \
spotName   TimeStamp
60000_0_00 2019-11-07 12:29:06  132  744.0  1299.0  1663.0  1894.0  2002.0
           2019-11-07 12:29:26  136  752.0  1308.0  1675.0  1923.0  2068.0
           2019-11-07 12:29:26  139  757.0  1292.0  1655.0  1885.0  2042.0
           2019-11-07 12:29:30  133  743.0  1286.0  1645.0  1887.0  2046.0
           2019-11-07 12:29:32  137  755.0  1313.0  1683.0  1906.0  2043.0
...                             ...    ...     ...     ...     ...     ...
60001_0_00 2020-05-28 15:00:04  139  757.0  1292.0  1647.0  1869.0  2034.0
60021_0_00 2020-05-28 15:00:04  138  777.0  1332.0  1675.0  1888.0  2008.0
60023_0_00 2020-05-28 15:00:17  139  769.0  1303.0  1652.0  1853.0  1976.0
60025_0_00 2020-05-28 15:00:17  134  763.0  1284.0  1602.0  1779.0  1863.0
60027_0_00 2020-05-28 15:00:17  136  744.0  1264.0  1600.0  1784.0  1904.0

                                   6       7       8       9    ...  614  615  \
spotName   TimeStamp                                            ...
60000_0_00 2019-11-07 12:29:06  2068.0  2110.0  2076.0  2035.0  ...  NaN  NaN
           2019-11-07 12:29:26  2128.0  2180.0  2180.0  2103.0  ...  NaN  NaN
           2019-11-07 12:29:26  2099.0  2099.0  2099.0  2067.0  ...  NaN  NaN
           2019-11-07 12:29:30  2104.0  2104.0  2129.0  2079.0  ...  NaN  NaN
           2019-11-07 12:29:32  2147.0  2189.0  2155.0  2104.0  ...  NaN  NaN
...                                ...     ...     ...     ...  ...  ...  ...
60001_0_00 2020-05-28 15:00:04  2099.0  2083.0  2083.0  2042.0  ...  NaN  NaN
60021_0_00 2020-05-28 15:00:04  2100.0  2193.0  2193.0  2184.0  ...  NaN  NaN
60023_0_00 2020-05-28 15:00:17  2107.0  2142.0  2133.0  2133.0  ...  NaN  NaN
60025_0_00 2020-05-28 15:00:17  1946.0  1972.0  1955.0  1913.0  ...  NaN  NaN
60027_0_00 2020-05-28 15:00:17  1944.0  1960.0  1960.0  1928.0  ...  NaN  NaN

                                616  617  618  619  620  621  622  623
spotName   TimeStamp
60000_0_00 2019-11-07 12:29:06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
           2019-11-07 12:29:26  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
           2019-11-07 12:29:26  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
           2019-11-07 12:29:30  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
           2019-11-07 12:29:32  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                             ...  ...  ...  ...  ...  ...  ...  ...
60001_0_00 2020-05-28 15:00:04  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
60021_0_00 2020-05-28 15:00:04  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
60023_0_00 2020-05-28 15:00:17  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
60025_0_00 2020-05-28 15:00:17  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
60027_0_00 2020-05-28 15:00:17  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[142192 rows x 624 columns]

In [61]:
exploded_voltage[exploded_voltage[623].notna()].head()

                                0      1       2       3       4       5    \
spotName   TimeStamp
60103_0_00 2019-11-12 15:54:11  144  802.0  1389.0  1749.0  1975.0  2083.0
60102_0_00 2019-11-26 18:20:34  142  818.0  1388.0  1744.0  1958.0  2065.0
           2019-11-27 11:20:24  142  818.0  1388.0  1744.0  1958.0  2065.0
           2019-11-27 14:23:50  142  818.0  1397.0  1744.0  1958.0  2109.0
60103_0_00 2019-12-04 14:08:29  138  814.0  1397.0  1749.0  1971.0  2147.0

                                   6       7       8       9    ...     614  \
spotName   TimeStamp                                            ...
60103_0_00 2019-11-12 15:54:11  2137.0  2182.0  2182.0  2137.0  ...  1551.0
60102_0_00 2019-11-26 18:20:34  2136.0  2189.0  2189.0  2136.0  ...  1531.0
           2019-11-27 11:20:24  2136.0  2189.0  2189.0  2136.0  ...  1531.0
           2019-11-27 14:23:50  2189.0  2198.0  2207.0  2198.0  ...  1566.0
60103_0_00 2019-12-04 14:08:29  2221.0  2211.0  2193.0  2193.0  ...  1499.0

                                   615     616     617     618     619  \
spotName   TimeStamp
60103_0_00 2019-11-12 15:54:11  1533.0  1515.0  1551.0  1551.0  1524.0
60102_0_00 2019-11-26 18:20:34  1513.0  1504.0  1522.0  1522.0  1495.0
           2019-11-27 11:20:24  1513.0  1504.0  1522.0  1522.0  1495.0
           2019-11-27 14:23:50  1566.0  1593.0  1575.0  1575.0  1602.0
60103_0_00 2019-12-04 14:08:29  1508.0  1517.0  1499.0  1480.0  1517.0

                                   620     621     622     623
spotName   TimeStamp
60103_0_00 2019-11-12 15:54:11  1533.0  1542.0  1524.0  1506.0
60102_0_00 2019-11-26 18:20:34  1513.0  1522.0  1486.0  1495.0
           2019-11-27 11:20:24  1513.0  1522.0  1486.0  1495.0
           2019-11-27 14:23:50  1584.0  1566.0  1584.0  1593.0
60103_0_00 2019-12-04 14:08:29  1508.0  1480.0  1517.0  1517.0

[5 rows x 624 columns]

In [45]:
dummy=[]
for i in range(0, 20):
    dummy.extend(df["CurrentCurve"][i])

In [63]:
plt.plot(exploded_voltage[0])